.button {
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 235px;
  font-size: 1em;
  border-radius: 5px;
  border-width: 1px;
  background-color: var(--calendar-bgc);
  position: absolute;
  outline: none;
}

.button:hover {
  background-color: var(--calendar-hover);
  cursor: pointer;
}

.calendar-icon {
  height: 25px;
  margin-left: 3%;
}
