.sideButtons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: flex-start; /* Align buttons to the start of the container */
  padding: 15px;
  height: 100%;
  button {
    margin-bottom: 10px; /* Add space between buttons */
    border: none;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 2px;
  }
  .day {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #008CBA;
    outline: none;
    padding: 2px;
    width: 100px;
    display: flex;
  }
}